:root {
  --clr-primary: #455d7a;
  --clr-accent: #f95959;

  --clr-heading: #233142;
  --clr-text: #e3e3e3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'aside header header header header header'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main';
}

/* HEADER STYLES */

.header {
  background-color: #fff;
  grid-area: header;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

/* ASIDE STYLES */

.aside {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  grid-area: aside;
  padding: 20px;
}

.aside__nav {
  padding: 50px 0 0 0;
}

.aside__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.aside__list-item {
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 20px;
}

/* MAIN STYLES */

.main {
  background-color: rgba(81, 182, 126, 0.842);
  grid-area: main;
}
