:root {
  --clr-primary: #455d7a;
  --clr-accent: #f95959;

  --clr-heading: #233142;
  --clr-text: #e3e3e3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'aside header header header header header'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main'
    'aside main main main main main';
}

/* HEADER STYLES */

.header {
  background-color: cornflowerblue;
  grid-area: header;
}

/* ASIDE STYLES */

.aside {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  grid-area: aside;
}

/* MAIN STYLES */

.main {
  background-color: rgba(81, 182, 126, 0.842);
  grid-area: main;
}
